@import '../../../assets/scss/base/variables';
@import '../../../assets/scss/base/extends';

.signup-block {
  @extend %flex-center;
  &__link {
    @extend %base-transition;
    @extend %text-normal;
    @extend %button;
    color: $colorWhite;
    cursor: pointer;
    display: inline-block;
    background-color: $colorBlue;
    font-size: .9rem;
    font-weight: bold;
    line-height: .7;
    padding: .7rem .9rem;
    border-radius: 2em;
    &:hover {
      @include darkenHover($colorBlue, 10);
    }
  }
  &__or {
    color: $colorLightGrey1;
    font-size: .75rem;
    font-weight: bold;
    margin: 0 .4rem;
  }
  &__soclink {
    @extend %button;
    @extend %base-transition;
    font-size: 1rem;
    border-radius: 50%;
    padding: .5em;
    margin-right: .33em;
    &:last-child {
      margin-right: 0;
    }
    &--facebook {
      @include darkenHover(#3b5998, 5);
    }
    &--google {
      @include darkenHover(#fff, 5%);
    }
  }
  &__linkicon {
    width: 1em;
    height: 16px;
    display: block;
  }
}
